@(message: String)



@main("Welcome to Play") {


    <h1 class="text-center">Nathans Website of Errors</h1>
    <span class="border"></span>
    <span class="border-top"></span>
    <span class="border-right"></span>
    <span class="border-bottom"></span>
    <span class="border-left"></span>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <link ref >
            <img src="https://assets.prestashop2.com/sites/default/files/blog/2019/10/banner_error_404.jpg" width="150" height="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="subscribe">Subscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="myprofile">MyProfile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <span class="border"></span>
    <span class="border-top"></span>
    <span class="border-right"></span>
    <span class="border-bottom"></span>
    <span class="border-left"></span>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <link ref >
                <img src="https://i.stack.imgur.com/5AfbS.png" width="450" height="250">
                <li class="list-group-item list-group-item-success">£2.99</li>
            </div>
            <div class="col">
                <link ref >
                <img src="https://i.stack.imgur.com/Hi6nU.png" width="450" height="250">
                <li class="list-group-item list-group-item-success">£3.50</li>
            </div>
            <div class="col">

            </div>
        </div>
        <span class="border"></span>
        <span class="border-top"></span>
        <span class="border-right"></span>
        <span class="border-bottom"></span>
        <span class="border-left"></span>

        <div class="row align-items-start">
            <div class="col">
                <link ref >
                <img src="https://i.stack.imgur.com/5AfbS.png" width="450" height="250">
                <li class="list-group-item list-group-item-success">£5.50</li>
            </div>
            <div class="col">
                <link ref >
                <img src="https://i.stack.imgur.com/5AfbS.png" width="450" height="250">
                <li class="list-group-item list-group-item-success">SALE : £0.69</li>
            </div>
            <div class="col">

            </div>
        </div>

        <span class="border"></span>
        <span class="border-top"></span>
        <span class="border-right"></span>
        <span class="border-bottom"></span>
        <span class="border-left"></span>

        <div class="row align-items-start">
            <div class="col">
                <link ref >
                <img src="https://i.stack.imgur.com/5AfbS.png" width="450" height="250">
                <li class="list-group-item list-group-item-success">£6.69</li>
            </div>
            <div class="col">
                <link ref >
                <img src="https://i.stack.imgur.com/5AfbS.png" width="450" height="250">
                <li class="list-group-item list-group-item-success">£0.01</li>
            </div>
            <div class="col">

            </div>
        </div>

        <span class="border"></span>
        <span class="border-top"></span>
        <span class="border-right"></span>
        <span class="border-bottom"></span>
        <span class="border-left"></span>
    </div>
}
