@(message: String)



@main("Welcome to Play") {


    <h1 class="text-center">Nathans Website of Errors</h1>
    <span class="border"></span>
    <span class="border-top"></span>
    <span class="border-right"></span>
    <span class="border-bottom"></span>
    <span class="border-left"></span>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <link ref >
            <img src="https://assets.prestashop2.com/sites/default/files/blog/2019/10/banner_error_404.jpg" width="150" height="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="subscribe">Subscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="login">MyProfile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <span class="border"></span>
    <span class="border-top"></span>
    <span class="border-right"></span>
    <span class="border-bottom"></span>
    <span class="border-left"></span>

    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="well">
                    <h2 class="muted">Premium</h2>
                    <p><span class="label">POPULAR</span></p>
                    <ul>
                        <li>Instant response</li>
                        <li>Unlimited access</li>
                        <li>Unlimited errors</li>
                        <li>E-mail support</li>
                        <li>Beta test bad working code</li>
                    </ul>
                    <p>Our premium package giving unlimited errors</p>
                    <hr>
                    <h3>£21.99 / month</h3>
                    <hr>
                    <p><a class="btn btn-success btn-large" href="https://www.paypal.me/NathanFarnell"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>

            <span class="border"></span>
            <span class="border-top"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="border-left"></span>

            <div class="span3">
                <div class="well">
                    <h2 class="text-warning">Bronze</h2>
                    <p><span class="label label-success">POPULAR</span></p>
                    <ul>
                        <li>Regular response time</li>
                        <li>Access to some premium errors and features</li>
                        <li>100 errors per day</li>
                        <li>Open beta access</li>
                        <li>No external support</li>
                    </ul>
                    <p>Our basic package giving all the standard features</p>
                    <hr>
                    <h3>£15.99 / month</h3>
                    <hr>
                    <p><a class="btn btn-success btn-large" href="https://www.paypal.me/NathanFarnell"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>

            <span class="border"></span>
            <span class="border-top"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="border-left"></span>

            <div class="span3">
                <div class="well">
                    <h2 class="text-info">Budget</h2>
                    <p><span class="label label-info">BUDGET</span></p>
                    <ul>
                        <li>Slow response time</li>
                        <li>10 errors per day</li>
                        <li>No premium features</li>
                        <li>No beta access</li>
                        <li>No external support</li>

                    </ul>
                    <p>For users who are on a budget</p>
                    <hr>
                    <h3>£9.99 / month</h3>
                    <hr>
                    <p><a class="btn btn-success btn-large" href="https://www.paypal.me/NathanFarnell"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <span class="border"></span>
            <span class="border-top"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="border-left"></span>

            <div class="span3">
                <div class="well">
                    <h2 class="text-info">Free Trial</h2>
                    <p><span class="label label-info">Free Trial</span></p>
                    <ul>
                        <li>Slow response time</li>
                        <li>10 errors per day</li>
                        <li>Some premium features</li>
                        <li>No beta access</li>
                        <li>£9.99 after the first 7 days</li>

                    </ul>
                    <p>For users who are on a budget</p>
                    <hr>
                    <h3>Free</h3>
                    <hr>
                    <p><a class="btn btn-success btn-large" href="https://www.paypal.me/NathanFarnell"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
        </div>
    </div>
}
